<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let track of tracks">
            <td>
                <img src="{{track.album.images[2].url}}">
            </td>
            <td>{{track.name}}</td>
            <td>
                <div *ngFor="let artist of track.artists">
                    {{artist.name}}
                </div>
            </td>
            <td>{{track.duration_ms | date:'mm:ss'}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                Total Songs: {{tracks.length}}
            </td>
            <td>
                Total Duration: {{ duration | date:'H:mm:ss'}}
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="addPlaylist()">
    Add Playlist
</button>