.bottom-btn {
    width: 100%;
}

.card {
    background-color: rgb(40, 40, 40);
    color: rgb(210, 210, 210);
}

.card-header {
    background-color: rgb(33, 33, 33);
}

.container {
    margin-top: 10px;
}

.dropdown {
    background-color: rgb(40, 40, 40);
}

.form-input {
    background-color: rgb(33, 33, 33);
}

.image-cover {
    width: 64px;
    height: 64px;
}

.image-search {
    height: 25px;
    width: auto;
}

.table-data {
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
}

.table > thead > th {
    padding: 10px;
}