<div class="container">
    <div class="card border-secondary">
        <div class="card-header border-secondary">
            <h2 class="text-light">
                Playlist Generator
            </h2>
            Input up to 5 tracks, and it will generate a playlist with similar songs
        </div>
        <div class="card-body">
            <form [formGroup]="playlistForm"
                (ngSubmit)="generate()">
                <div class="form-group row">
                    <h4 class="col-md-2"># of Songs: </h4>
                    <div class="col-md-7 col-12">
                        <select class="btn btn-success dropdown-toggle"
                                (change)="setNumberOfSongs($event)">
                            <option value="10" [selected]="playlistService.numOfTracks === '10'">10</option>
                            <option value="20" [selected]="playlistService.numOfTracks === '20'">20</option>
                            <option value="50" [selected]="playlistService.numOfTracks === '50'">50</option>
                            <option value="100" [selected]="playlistService.numOfTracks === '100'">100</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <h4 class="col-md-2">Add Tracks: </h4>
                    <div class="col-md-7">
                        <input class="form-control form-input text-light border-dark"
                                type="text"
                                placeholder="Track Name"
                                formControlName="track"
                                autocomplete="off">
                        <div class="dropdown">
                            <div *ngFor="let s of searchResult">
                                <button class="form-control form-input text-light border-dark"
                                    (click)="addTrack(s)"
                                    type="button"  style="height:auto;">
                                    <img class="image-search" src="{{s.album.images[2]?.url}}">
                                    {{s.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row table-data" style="overflow-x: auto;">
                    <table *ngIf="playlistService.tracks.length > 0" class="table table-dark">
                        <thead>
                            <th scope="col">Image</th>
                            <th scope="col">Track</th>
                            <th scope="col"></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let t of playlistService.tracks; let i=index">
                                <td scope="row">
                                    <img class="image-cover" src="{{t.album.images[2]?.url}}">
                                </td>
                                <td>{{t.name}}</td>
                                <td>
                                    <button class="btn btn-danger"
                                        type="button"
                                        (click)="removeTrack(i)">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="errorMessage !== ''" class="form-group row">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            {{errorMessage}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6 col-md-2">
                        <button class="btn btn-success bottom-btn"
                                type="submit"
                                [title]="'Submit'">
                            Submit
                        </button>
                    </div>
                    <div class="col-6 col-md-2">
                        <button type="button"
                                class="btn btn-danger bottom-btn"
                                (click)="reset()">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
