.btn {
    min-width: 150px;
}

.container {
    margin-top: 10px;
}

.card {
    background-color: rgb(40, 40, 40);
    color: rgb(210, 210, 210);
}

.card-header {
    background-color: rgb(33, 33, 33);
}

.dropdown {
    background-color: rgb(40, 40, 40);
}

.form-input {
    background-color: rgb(33, 33, 33);
}

.image-cover {
    width: 64px;
    height: 64px;
}

.image-search {
    height: 25px;
    width: auto;
}

.input-time {
    display: inline-block;
    width: 6em;
    position: relative;
    top: -3em;
}

.label-time {
    display: inline-block;
    width: 6em;
    margin-right: .5em;
    padding-top: 1.5em;
}

.table-data {
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
}

.table > thead > th {
    padding: 10px;
}

@media (pointer:none), (pointer:coarse) {
    .table-data {
        width: 100%;
    }
}