<div class="container">
    <div class="card">
        <div class="card-header">
            Road Trip Playlist
        </div>
        <div class="card-body">
            <form [formGroup]="playlistForm"
                (ngSubmit)="save()">
                <div class="form-group">
                    <div class="row">
                        <h4 class="col-md-3">Add Artist: </h4>
                        <div class="col-md-6">
                            <input class="form-control"
                                    type="text"
                                    placeholder="Artist Name"
                                    formControlName="artists"
                                    autocomplete="off">
                            <div class="dropdown">
                                <div *ngFor="let s of searchResult">
                                    <button type="button">{{s.name}}</button>
                                </div>
                            </div>
                        </div>
                        <button class="col-md-2 btn btn-outline-primary"
                            type="button"
                            (click)="addArtist()">
                            Add Artist
                        </button>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <th scope="col">Image</th>
                                <th scope="col">Artist</th>
                                <th scope="col"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of artists; let i=index">
                                    <th scope="row">
                                        <img src="{{a.images[2]?.url}}">
                                    </th>
                                    <td>{{a.name}}</td>
                                    <td>
                                        <button class="btn btn-danger"
                                            type="button"
                                            (click)="removeArtist(i)">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-primary"
                        type="submit"
                        [title]="'Submit'">
                    Submit
                </button>
            </form>
        </div>
        <div *ngIf="recentlyPlayed">
            <table>
                <thead>
                    <th>Number</th>
                    <th>Name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let track of recentlyPlayed; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ track.track.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>