<div class="container">
    <div class="card border-secondary">
        <div class="card-header border-secondary">
            <h2>
                Road Trip Playlist
            </h2>
        </div>
        <div class="card-body">
            <form [formGroup]="playlistForm"
                (ngSubmit)="save()">
                <div class="form-group">
                    <div formGroupName="duration">
                        <div class="form-group row">
                            <h4 class="col-lg-2">Duration:</h4>
                            <div class="col-4 col-md-3">
                                <input formControlName="hours" class="form-control form-input text-light border-dark" 
                                       type="number" id="hours" placeholder="0"
                                       [ngClass]="{'is-invalid': !duration.controls.hours.valid}">
                                <label for="hours">Hours</label>
                                <span class="invalid-feedback">
                                    <span *ngIf="!duration.controls.hours.valid">
                                        Hours must be greater than or equal to 0 and less than 48
                                    </span>
                                </span>
                            </div>
                            <div class="col-4 col-md-3">
                                <input formControlName="minutes" class="form-control form-input text-light border-dark"
                                       type="number" id="minutes" placeholder="0"
                                       [ngClass]="{'is-invalid': !duration.controls.minutes.valid}">
                                <label for="minutes">Minutes</label>
                                <span class="invalid-feedback">
                                    <span *ngIf="!duration.controls.minutes.valid">
                                        Minutes must be greater than or equal to 0 and less than 60
                                    </span>
                                </span>
                            </div>
                            <div class="col-4 col-md-3">
                                <input formControlName="seconds" class="form-control form-input text-light border-dark" 
                                       type="number" id="seconds" placeholder="0"
                                       [ngClass]="{'is-invalid': !duration.controls.seconds.valid}">
                                <label for="seconds">Seconds</label>
                                <span class="invalid-feedback">
                                    <span *ngIf="!duration.controls.seconds.valid">
                                        Seconds must be greater than or equal to 0 and less than 60
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-2">Add Artist: </h4>
                        <div class="col-md-7">
                            <input class="form-control form-input text-light border-dark"
                                    type="text"
                                    placeholder="Artist Name"
                                    formControlName="artists"
                                    autocomplete="off">
                            <div class="dropdown">
                                <div *ngFor="let s of searchResultArtist">
                                    <button (click)="addArtist(s)" class="form-control form-input text-light border-dark"
                                        type="button"  style="height:auto;">
                                        <img class="image-search" src="{{s.images[2]?.url}}">
                                        {{s.name}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row table-data" style="overflow-x: auto;">
                        <table *ngIf="artists.length > 0" class="table table-dark">
                            <thead>
                                <th scope="col">Image</th>
                                <th scope="col">Artist</th>
                                <th scope="col"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of artists; let i=index">
                                    <td scope="row">
                                        <img class="image-cover" src="{{a.images[2]?.url}}">
                                    </td>
                                    <td>{{a.name}}</td>
                                    <td>
                                        <button class="btn btn-danger"
                                            type="button"
                                            (click)="removeArtist(i)">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group row">
                        <h4 class="col-md-2">Add Album: </h4>
                        <div class="col-md-7">
                            <input class="form-control form-input text-light border-dark"
                                    type="text"
                                    placeholder="Album Name"
                                    formControlName="albums"
                                    autocomplete="off">
                            <div class="dropdown">
                                <div *ngFor="let s of searchResultAlbum">
                                    <button (click)="addAlbum(s)" class="form-control form-input text-light border-dark"
                                        type="button" style="height:auto;">
                                        <img class="image-search" src="{{s.images[2]?.url}}">
                                        {{s.name}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row table-data" style="overflow-x: auto;">
                        <table *ngIf="albums.length > 0" class="table table-dark">
                            <thead>
                                <th scope="col">Image</th>
                                <th scope="col">Album</th>
                                <th scope="col"></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of albums; let i=index">
                                    <td scope="row">
                                        <img class="image-cover" src="{{a.images[2]?.url}}">
                                    </td>
                                    <td>{{a.name}}</td>
                                    <td>
                                        <button class="btn btn-danger"
                                            type="button"
                                            (click)="removeAlbum(i)">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row">
                    <div *ngIf="errorMessage !== ''" class="col-12">
                        <div class="alert alert-danger" role="alert">
                            {{errorMessage}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6 col-md-2">
                        <button class="btn btn-success bottom-btn"
                                type="submit"
                                [title]="'Submit'">
                            Submit
                        </button>
                    </div>
                    <div class="col-6 col-md-2">
                        <button type="button"
                                class="btn btn-danger bottom-btn"
                                (click)="reset()">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>