.card {
    margin-top: 20px;
    max-width: 960px;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(105, 211, 142, 0.548);
  }